node_modules
.pnp.cjs
.pnp.loader.mjs
.pnp.data.json
.yarn/cache
.yarn/unplugged
.yarn/install-state.gz
dist
.git
.github
*.md
.env
.env.*
!.env.example
coverage
test-results
playwright-report
*.log
.vscode
.idea
